@import "bootstrap";
@import "font-awesome";

html {
  background-color: cornflowerblue;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: image_url('dust_scratches.png') fixed;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

.navbar {
  background-color: rgb(235, 235, 235);
  box-shadow: 0px 2px 6px rgb(196, 196, 196);
  margin-bottom: 25px;
}

.navbar-light .navbar-brand {
  color: cornflowerblue;
  font-family: "Avenir Next", Avenir, sans-serif;
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 26px;
}

.btn-primary {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.small-caption {
  font-style: italic;
  font-weight: light;
  color: darkgray;
  font-size: .7em;
}

.page-item .page-link {
  color: cornflowerblue;
}

.active {
  color: white;
}

.page-item.active .page-link,
.page-item.active .page-link:hover {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

.page-item .page-link:hover {
  background-color: rgba(204, 204, 204, 0);
}

.user-email-tag {
  font-size: .7em;
  font-weight: lighter;
  background-color: cornflowerblue;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}